
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Câu 3</h2>

<table border="1" style="width: 50%; margin: auto;">
    <tbody>
        <tr>
            <td><b>Mã Sinh Viên</b></td>
            <td>2019600285</td>
        </tr>
        <tr>
            <td><b>Họ tên</b></td>
            <td>Nguyễn Nhật Minh</td>
        </tr>
        <tr>
            <td><b>Ngày Sinh</b></td>
            <td>23/08/2001</td>
        </tr>
        <tr>
            <td><b>Địa Chỉ</b></td>
            <td>Thanh Hóa</td>
        </tr>
    </tbody>
</table>

