
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 1</h3>
        </div>
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 2</h3>
        </div>
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 3</h3>
        </div>
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 4</h3>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 5</h3>
        </div>
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 6</h3>
        </div>
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 7</h3>
        </div>
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 8</h3>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 9</h3>
        </div>
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 10</h3>
        </div>
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 11</h3>
        </div>
        <div class="col col-lg-3">
            <img src="https://images.foody.vn/res/g100001/1000000241/prof/s280x175/image-1e93bc8c-200908105705.jpeg" />
            <h3>Sản phẩm 12</h3>
        </div>
    </div>
</div>
