@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Haui</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/Content/Style.css" type="text/css" />
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1 id="logo-text">haui-fict</h1>
            <h2 id="slogan">lập trình web với asp.net</h2>
            <div id="header-links">
                <p> <a href="#/">Home</a> | <a href="#/">Contact</a> | <a href="#/">Site Map</a> </p>
            </div>
        </div>
        <div id="menu">
            <ul>
                <li id="current"><a href="/">Home</a></li>
                <li><a href="/home/about">Giới thiệu</a></li>
                <li><a href="/home/contact">Liên hệ</a></li>
                <li><a href="#/">Dịch vụ</a></li>
                <li><a href="#/">Hỗ trợ</a></li>
                <li class="last"><a href="#/">Giới thiệu</a></li>
            </ul>
        </div>
        <div id="content-wrap">
            <div id="sidebar">
                <h1>Tìm kiếm</h1>
                <form action="#/" class="searchform">
                    <p>
                        <input name="search_query" class="textbox" type="text" />
                        <input name="search" class="button" value="Search" type="submit" />
                    </p>
                </form>
                <h1>Danh sách các lớp</h1>
                <ul class="sidemenu">
                    <li><a href="#TemplateInfo">Lớp công nghệ thông tin</a></li>
                    <li><a href="#TemplateInfo">Lớp khoa học máy tính</a></li>
                    <li><a href="#SampleTags">Lớp kỹ thuật phần mềm</a></li>
                    <li><a href="#SampleTags">Lớp hệ thống thông tin</a></li>
                </ul>
            </div>
            <div id="main">
                <h1>Template header 1</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est.</p>
                <table>
                    <tr>
                        <th class="first"><strong>post</strong> date</th>
                        <th>title</th>
                        <th>description</th>
                    </tr>
                    <tr class="row-a">
                        <td class="first">04.18.2007</td>
                        <td><a href="#">Augue non nibh</a></td>
                        <td><a href="#">Lobortis commodo metus vestibulum</a></td>
                    </tr>
                    <tr class="row-a">
                        <td class="first">04.18.2007</td>
                        <td><a href="#">Fusce ut diam bibendum</a></td>
                        <td><a href="#">Purus in eget odio in sapien</a></td>
                    </tr>
                    <tr class="row-a">
                        <td class="first">04.18.2007</td>
                        <td><a href="#">Maecenas et ipsum</a></td>
                        <td><a href="#">Adipiscing blandit quisque eros</a></td>
                    </tr>

                </table>
                <h3>Thông tin user phản ánh</h3>
                <form action="#">
                    <p>
                        <label>Họ tên</label>
                        <input name="dname" type="text" size="30" />
                        <label>Email</label>
                        <input name="demail" type="text" size="30" />
                        <label>Nội dung</label>
                        <textarea rows="3" cols="5"></textarea>
                        <br />
                        <input class="button" type="submit" value=" Gửi đi " />
                    </p>
                </form>
            </div>
        </div>
        <div id="footer">
            <p>Trường Đại học công nghiệp Hà nội - 298 Cầu Diễn </p>
        </div>
    </div>
</body>
</html>
