
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Câu 2</h2>

<p>Ưu nhược điểm của MVC</p>

<h3>Ưu điểm</h3>

<ul>
    <li>Bảo trì mã dễ dàng, giúp mở rộng và phát triển</li>
    <li>Thành phần MVC có thể được kiểm tra riêng với người dùng</li>
    <li>Hỗ trợ dễ dàng cho khách hàng mới</li>
</ul>

<h3>Nhược điểm</h3>

<ul>
    <li>Khó đọc, thay đổi, kiểm tra và sử dụng lại mô hình này.</li>
    <li>Việc điều hướng tổ chức có thể đôi khi phức tạp vì nó giới thiệu các layer mới đòi hỏi người dùng phải thích ứng với các tiêu chí của MVC.</li>
    <li>Không hỗ trợ xác nhận chính thức.</li>
</ul>