
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Câu 1</h2>

<table border="1">
    <tbody>
        <tr>
            <td colspan="2">
                <h4>Thông tin sinh viên</h4>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Mã sinh viên</b></p>
            </td>
            <td>
                <p>2019600285</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Họ tên</b></p>
            </td>
            <td>
                <p>Nguyễn Nhật Minh</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Ngày Sinh</b></p>
            </td>
            <td>
                <p>23-08-2001</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Quê quán</b></p>
            </td>
            <td>
                <p>Thanh Hóa</p>
            </td>
        </tr>
    </tbody>
</table>